.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/**************************/
/* NAVIGATION */
/**************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section .title {
  position: relative;
  text-align: right;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  position: fixed;
  background-color: #fdf2e9;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #ec2913;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #f8ad6c;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: rgb(238, 22, 65);
}

/**************************/
/* Home */
/**************************/

.section-Home {
  padding: 23.5rem 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 250%;
  padding-bottom: 250%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 200%;
  padding-bottom: 200%;
  background-color: #fad7d3;
  z-index: -1;
}

.step-img {
  width: 100%;
  /* z-index: 10; */
}

/**************************/
/* My Hobbies */
/**************************/

.section-MyHobbies {
  padding: 9.6rem 0;
}

.hobby {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.hobby:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.hobby-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.hobbies-img {
  width: 100%;
}

/**************************/
/* Skills */
/**************************/

.section-Skills {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.Skills-container {
  padding: 9.6rem;
}

.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.skill-head {
  margin-top: 22px;
  margin-bottom: 12px;
  font-size: var(--h-1st-size);
}

.skill-list {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill_item {
  margin-bottom: 20px;
  width: 40vw;
  display: block;
  margin: auto;
}

.skill_item .progress_br {
  border: 1px solid rgb(238, 238, 238);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 22px;
}

.skill_item .progress {
  height: 10px;
  border-radius: 10px;
  background: rgb(232, 232, 232);
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(0, 123, 255);
  transition: width 2.6s ease 0s;
}
/**************************/
/* Contacts */
/**************************/

.section-Contacts {
  padding: 9.6rem 0;
}

/**************************/
/* Footer */
/**************************/

.footer {
  padding: 1rem 0;
  border-top: 1px solid #eee;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
